@font-face {
    font-family: 'lobster_1.3regular';
    src: url('label font/lobster_1.3-webfont.eot');
    src: url('label font/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
    url('label font/lobster_1.3-webfont.woff') format('woff'),
    url('label font/lobster_1.3-webfont.ttf') format('truetype'),
    url('label font/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}